extends layout

block content
  - var data = game24.analyzeGame(challenge)
  - var solve24 = data.sampleSolution

  h1(class="align-center") Challenge (#[a(href="/difficultyscore")= data.difficultyScore]) 
  button(id="solve24" solution=solve24) solve

  form(action='/game/solutions', method='POST')
    input(type='text' class='invis' name='solutions' value=data)
    input(type='submit', value='All solutions' class="dark-button") 

  div(class='align-center')
    h1(id='game') current game: #{challenge}
    button(id='switch-input-style' class='num-input' style='width:300px') Switch input style
    label(for="num1" class='input1') number 1
    input(type='number' class = 'dark-input num-input input1' name='num1') 
    label(for="operator" class='input1') operator
    input(type='text' class='dark-input num-input input1' name='operator')
    label(for="num2" class='input1') number 2
    input(type='number' class='dark-input num-input input1' name='num2') 
    label(for='operation' style='display:none' class='input2') Operation (num1+operator+num2)
    input(type='text' style='display:none; width: 300px;' name='operation' class='input2 dark-input num-input' id='operation')
    button(id="twoNum" style='dark-input') Do operation  
    button(id='undo' style='dark-input') undo
    p(id='notifications')
  button(onclick="window.location = window.location" style="display:block") New Challenge
  button(onclick="window.history.back()") Back
 
  h1(id="solution")
  script(type='text/javascript', src='/javascripts/challenge.js')
