extends layout

block content
  h1(class = "align-center" style="font-size: 60px;") 4nums solver
  h1 number 1
  input(type='number' name='game' class='dark-input num') 
  h1 number 2
  input(type='number' name='game' class='dark-input num')
  h1 number 3
  input(type='number' name='game' class='dark-input num')
  h1 number 4
  input(type='number' name='game' class='dark-input num')
  
  button(id='solve') solve
  form(action='/game/solutions' method='POST')
    input(class="invis" name="solutions" id="postData")
    input(type='submit' class="dark-input invis" id="submit-button" value="all solutions")

  h1(id = "result")
  script(type='text/javascript', src='/javascripts/solve.js')
