extends layout

block content
  div(class="align-center") 
    h1 What is difficulty score?
    h4 Difficulty score is a calculation of how hard a 24 problem probably is. 
    h2 In most cases, the difficulty of a problem can be attributed mainly to a few factors:
    h3 The average unique operators:
    h4 3+9, 12*8, 96/4 is usually harder to find than 1*2*3*4.
    h3 The operators themselves:
    h4 division is usually harder to find than addition.
    h3 Number of solutions:
    h4 Usually a good indicator of difficulty.
    button(onclick="window.history.back()") Back