extends layout 

block content

  h1 please read the following before you start grinding: 
  
  h2 The challenge will be based on who can get the highest score in #[a(href = '/beattheclock') beat the clock].

  p first place will get a 100 dollar prize, and places 2-20 will have 2 winners, each getting 25 dollars.

  h1 1. DO NOT CHEAT! 
  p there are cheating detections in place correlating with time spent and the internal #[a(href ='/difficultyscore') difficulty score].
  h2 you will be flagged for manual review. It's extremely obvious if you cheat.
  p additionally, the better UI for the solver will be #[strong temporarily disabled] to discourage cheaters.

  h1 2. Use your real name.
  p if you decide not to y=use your real name, I will not be able to contact you with the prize. 

  h1 3. Do not spam the leaderboards! 
  p Spamming the leader boards with jon doe, jon doe 2, jon doe 3 will get you manually removed and disqualified.

  h1 with all that said, lets get #[a(href = '/difficultyscore') started]!

  button(onclick = 'window.history.back()') back